<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"></a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="customers" class="nav-link">Customers</a>
      </li>
      <li class="nav-item">
<!--        <a routerLink="add-account" class="nav-link">Create Account</a>-->
      </li>
      <li class="nav-item">
        <!--        <a routerLink="create/transaction" class="nav-link">Create Transaction</a>-->
        <a  class="nav-link">Create Transaction</a>
      </li>

    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
