Now is just working with the id 2 , thats the id from the second customer, needs to be improved. , amount is a number . 10000
<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="customerId">Customer ID:</label>
        <input type="text" id="customerId" formControlName="customerId">
    </div>
    <div>
        <label for="initialCredit">Initial Credit:</label>
        <input type="text" id="initialCredit" formControlName="initialCredit">
    </div>
    <button type="submit" [disabled]="accountForm.invalid">Create Account</button>
</form>

<ng-container *ngIf="successMessage != ''">
    <div>{{successMessage}}</div>
</ng-container>